# Exclude VCS, local, and unnecessary build context files
.git
.gitignore
Dockerfile
render.yaml
README.md
*.md
node_modules/
vendor/
# Logs & temp
*.log
/tmp
.cache
# Editors
.vscode
.idea
# OS files
.DS_Store
Thumbs.db
